
:root {
  --black: #b3b3b3;
  --button-ready: #4caf50;
  --error-colour-dark: #ab3636;
  --error-colour: #ef4a4a;
  --font: #404040;
  --font-dark: #3a3a3a;
  --primary-colour-dark: #3b3392;
  --primary-colour-light: #908ace;
  --primary-colour: #5d51d6;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/NotoSans.ttf");
}

html * {
  font-size: 1.015em;
  font-family: 'Noto Sans', sans-serif;
  webkit-text-security: square;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

ul {
  list-style-type: none;
}

#links {
  cursor: pointer;
  font-size: 1.4em;
  grid-column-end: 4;
  grid-column-start: 3;
  grid-row: 1;
  margin-bottom: 15px;
  margin-top: 15px;
}

#links:hover {
  font-weight: bold;
}

#settings-menu {
  background: white;
  margin: 0px;
  padding: 10px 30px;
  position: absolute;
  right: 0px;
}

#settings-menu.inactive {
  display: none;
}

#settings-menu a:hover {
  color: var(--primary-colour);
  text-decoration: underline;
}

#settings-menu li {
  margin: 20px;
}


noscript#fallback-message {
  font-align: center;
  font-size: 2em;
}

#main-head {
  background: var(--primary-colour);
  color: white;
  padding: 0px 20px;
}


h1.brand {
  font-size: 1.3em;
  font-weight: normal;
  margin-left: 25px;
}

html, body {
  margin: 0;
  color: var(--font);
}

label.burger-menu {
  font-size: 1.4em;
  grid-column-start: 1;
  grid-row: 1;
  grid-column-end: 2;
  margin-top: 15px;
  cursor: pointer;
}

label.burger-menu:hover {
  font-weight: bold;
}

.container {
  display: grid;
}

form.main-input {
  padding-top: 38px;
  grid-template-columns: repeat(6, 1fr);
  grid-column:2;
  grid-row: 2;
  display: grid;
  grid-gap: 0px 0px;
}

#main-head {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 8.5fr 0.5fr;
}

#main-head h1.brand {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
}

/*
  site input styling.
*/

.website {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row:    2;
}

input#website {
  padding: 10px 6px;
  border: none;
  border-bottom: 1px solid var(--black);
  margin-bottom: 1px;
  width: 100%;
}

input#website:focus {
  outline:none;
  border: none;
  border-bottom: 2px solid var(--black);
  margin-bottom: 0px;
}

/*
  password input styling.
*/

.password {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row:    4;
  width: 100%;
  margin-bottom: 0px;
}

input#password {
  padding: 10px 6px;
  border: none;
  border-bottom: 1px solid var(--black);
  margin-bottom: 1px;
  width: 100%;
}

input#password:focus {
  outline:none;
  border: none;
  border-bottom: 2px solid var(--black);
  margin-bottom: 0px;
}

.text-body {
  margin: 30px 16.6%
}

/*
  Password button styles
*/

input.submit {
  margin-top: 40px;
  width: 100%;
  max-width: 218px;
  min-width: 210px;
  padding: 0px 15px;
  height: 60px;
  grid-column-start: 2;
  grid-row: 6;
  background: none;
  border: 1px solid var(--black);
  color: white;
  border-radius: 4px;
}

input.submit:hover {
  background: var(--primary-colour-dark);
}

input.submit:focus {
  border: none;
  outline: none;
}

input.submit {
  background: var(--primary-colour);
}

input.submit.active {
  background: var(--primary-colour-dark);
}

input.submit.completed {
  background: var(--primary-colour-dark);
}

input.submit.failed {
  background: var(--error-colour);
  border: 1px solid var(--error-colour-dark);
}





#website-input-error {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 3;
  color: red;
  font-size: 0.85em;
}

#password-input-error {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 5;
  color: red;
  font-size: 0.85em;
}
