
:root {
  --black: #b3b3b3;
  --button-ready: #4caf50;
  --error-colour-dark: #ab3636;
  --error-colour: #ef4a4a;
  --font: #404040;
  --font-dark: #3a3a3a;
  --primary-colour-desaturated: #514D77;
  --primary-colour-dark: #3b3392;
  --primary-colour-light: #908ace;
  --primary-colour: #5d51d6;

  --bar-colour-one: #1cd6cd;
  --bar-colour-two: #1c82d6;
  --bar-colour-three: #1c25d6;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/NotoSans.ttf");
}

html * {
  font-size: 1.015em;
  font-family: 'Noto Sans', sans-serif;
  webkit-text-security: square;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

ul {
  list-style-type: none;
}

#links {
  cursor: pointer;
  font-size: 1.4em;
  grid-column-end: 4;
  grid-column-start: 3;
  grid-row: 1;
  margin-bottom: 15px;
  margin-top: 15px;
}

#links:hover {
  font-weight: bold;
}

#settings-menu {
  background: white;
  margin: 0px;
  padding: 10px 30px;
  position: absolute;
  right: 0px;
}

#settings-menu.inactive {
  display: none;
}

#settings-menu a:hover {
  color: var(--primary-colour);
  text-decoration: underline;
}

#settings-menu li {
  margin: 20px;
}


noscript#fallback-message {
  font-align: center;
  font-size: 2em;
}

#main-head {
  background: var(--primary-colour);
  color: white;
  padding: 0px 20px;
}


h1.brand {
  font-size: 1.3em;
  font-weight: normal;
  margin-left: 25px;
}

html, body {
  margin: 0;
  color: var(--font);
}

label.burger-menu {
  font-size: 1.4em;
  grid-column-start: 1;
  grid-row: 1;
  grid-column-end: 2;
  margin-top: 15px;
  cursor: pointer;
}

label.burger-menu:hover {
  font-weight: bold;
}

.container {
  display: grid;
}

form.main-input {
  grid-template-columns: repeat(6, 1fr);
  grid-column:2;
  grid-row: 2;
  display: grid;
  grid-gap: 0px 0px;
}

#main-head {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 8.5fr 0.5fr;
}

#main-head h1.brand {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
}

/*
  site input styling.
*/

.website {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row:    2;
}

input#website {
  padding: 10px 6px;
  outline:none;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

input#website:focus {
  outline:none;
  border-top: none;
  border-left: none;
  border-right: none;
}

/*
  password input styling.
*/

.password {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row:    4;
  width: 100%;
  margin-top: 0px;
}

input#password {
  padding: 10px 6px;
  outline:none;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

input[type=text].valid, input[type=password].valid {
  outline:none;
  border: none;
  border-bottom: 1px solid var(--black);
  margin-bottom: 1px;
}

input[type=text].valid:focus, input[type=password].valid:focus {
  border-bottom: 2px solid var(--black);
  margin-bottom: 0px;
}

input[type=text].invalid, input[type=password].invalid {
  border-bottom: 1px solid var(--error-colour);
  margin-bottom: 1px;
}

input[type=text].invalid:focus, input[type=password].invalid:focus {
  border-bottom: 2px solid var(--error-colour);
  margin-bottom: 0px;
}

.text-body {
  margin: 30px 16.6%
}

/*
  Password button styles
*/

input.submit {
  margin-top: 40px;
  width: 100%;
  max-width: 218px;
  min-width: 210px;
  padding: 0px 15px;
  height: 60px;
  grid-column-start: 2;
  grid-row: 6;
  background: none;
  border: 1px solid var(--black);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

input.submit:hover {
  background: var(--primary-colour-dark);
}

input.submit:focus {
  border: none;
  outline: none;
}

input.submit {
  background: var(--primary-colour);
}

input.submit.active {
  background: var(--primary-colour-desaturated);
  cursor: not-allowed;
}

input.submit.invalid {
  background: var(--black);
  pointer-events: none;
  cursor: not-allowed;
}

#website-input-container {
  margin-top: 60px;
}

#website-input-error {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 3;
  color: var(--error-colour);
  font-size: 0.85em;
}

#password-input-error {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 5;
  color: var(--error-colour);
  font-size: 0.85em;
}

#website-input-error:empty::after, #password-input-error:empty::after {
  content: '\200b';
}

.load-bar.active {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: var(--bar-colour-one);
}

.load-bar.inactive {
  height: 6px;
}

.load-bar.active .bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}

.load-bar.active .bar:nth-child(1) {
  background-color: var(--bar-colour-two);
  animation: loading 3s linear infinite;
}

.load-bar.active .bar:nth-child(2) {
  background-color: var(--bar-colour-three);
  animation: loading 3s linear 1s infinite;
}

.load-bar.active .bar:nth-child(3) {
  background-color: var(--bar-colour-one);
  animation: loading 3s linear 2s infinite;
}

@keyframes loading {
  from {left: 50%; width: 0;z-index:100;}
  33.3333% {left: 0; width: 100%;z-index: 10;}
  to {left: 0; width: 100%;}
}

